body {
  font-family: Lato;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px #1e7b3c solid;
  border-radius: 20px;
  margin: 15px;
  background-color: #efefef;
}


@media only screen and (max-width: 840px) {
    #tagline {
      font-size: 15px !important;
    }
    #centerpiece-img {
      width: 70% !important;
      display: block !important;
      position: relative !important;
      left: 30px !important;
    }
    #description-text {
      font-size: 24px !important;
      width: 260px !important;
      text-align: center !important;
      margin: auto !important;
      position: static !important;
    }
    #contents-image {
      width: 360px !important;
    }
    #tile-img {
      position: relative !important;
      left: 45px !important;
    }
    .tech-point {
      text-align: center !important;
    }
    .tech-specs {
      border-bottom: 2px solid rgba(0,0,0,0.7);
      width: 80%;
    }

}


#logo-outer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #EFEFEF;
  text-align: center;
  border-radius-top-left: 10px;
  border-radius-top-right: 10px;
  border-bottom: 5px #1e7b3c solid;
  width: 70%;
}

#logo {
  width: 400px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%;
}

#tagline {
  font-size: 24px;
  text-align: center;
}

#centerpiece-img {
  width: 800px;
}

#game-description {
  position: relative;
  padding-top: 40px;
}

#description-text {
  font-size: 24px;
  position: absolute;
  width: 260px;
  top: 150px;
  left: 60px;
}

#tatchi {
  font-weight: bold;
  color: #1e7b3c;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.section-header {
  font-family: Abel;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180px;
  font-size: 25px;
  padding: 10px 20px;
}

.features-icon {
  width: 160px;
  height: auto;
}

#contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#contents-image {
  max-width: 100%;
  width: 600px;
}

.phrase {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 10px 30px 10px 0px;
}

.num {
  font-size: 28px;
  font-weight: bold;
  color: #1e7b3c;
  padding-right: 5px;
}

.tech-specs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px
}

.tech-img {
  width: 250px;
}

#tiles-list {
  text-align: right;
  padding-right: 10px;
}

.tech-point {
  font-size: 24px;
  padding: 10px 0px 10px 20px;
}

#business-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#business-stats {
  padding: 10px 50px;
}

#business-graph {
  padding: 10px 5px;
}

#market-graphic {
  width: 400px;
  max-width: 100%;

}

.competitor-icon {
  width: 80px;
}

#thanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thanks-section {
  text-align: center;
  width: 195px;
  font-size: 20px;
  margin: 10px;
}

.thanks-header {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 5px;
}

.thanks-list {

}

#thanks-section-outer {
  width: 100%;
  background-color: #1e7b3c;
  color: white;
  border-radius-bottom-left: 10px;
  border-radius-bottom-right: 10px;

}
